{% extends "base.html" %}

{% set title = "Login" %}

{% block body_content %}
<div class="alert alert-danger" role="alert">
  Sorry, wrong password!
</div>

<form method="post">
<div class="row">
  <div class="col-2 text-right">
    <label for="login">Login</label>
  </div>
  <div class="col-8">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-at"></i></span>
        </div>
        <input class="form-control" placeholder="Login" id="login" name="login">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 text-right">
    <label for="password">Password</label>
  </div>
  <div class="col-8">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        <input class="form-control" type="password" placeholder="Password" id="password" name="password">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-2">
    <button type="submit" class="btn btn-success w-100">Log in</button>
  </div>
  <div class="col-3 offset-3">
    <a class="btn btn-outline-info w-100" href="/u/register">Create new account</a>
  </div>
</div>
</form>
{% endblock %}
